
h1 {
  color: rgb(255, 0, 0);
  text-align: center;
  font-family: Sans-serif;
}

p {
  color: rgb(0, 0, 0);
  font-family: verdana;
  font-size: 20px;
}

h2 {
    color: rgb(255, 0, 0);
    text-align: center;
    font-family: Monospace;
  }

*{
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}

input[type="checkbox"]
{
  display: none;
}

nav
{
  background-color: rgba(16,16,16,.5);
  width: 350px;
  height: 100%;
}

a{
  background-color: red;
  display: block;
  padding: 20px 5px;
  color: white;
}